In [1]:
import pandas as pd

In [3]:
d1 = pd.read_csv(r"C:\Users\Shinemet\Ironhack\Labs\Module2\Lab_18_Dasboards_in_Excel_Google_Sheets\Call_Data.csv")
d2 = pd.read_csv(r"C:\Users\Shinemet\Ironhack\Labs\Module2\Lab_18_Dasboards_in_Excel_Google_Sheets\Hierarchy.csv")
d3 = pd.read_csv(r"C:\Users\Shinemet\Ironhack\Labs\Module2\Lab_18_Dasboards_in_Excel_Google_Sheets\Targets.csv")
d4 = pd.read_excel(r"C:\Users\Shinemet\Ironhack\Labs\Module2\Lab_18_Dasboards_in_Excel_Google_Sheets\Metrics.xlsx")

In [4]:
d1

,YR_MO,CALL_DATE,AGENT_KEY,CALLS,HANDLE_TIME,CALL_REGEN,CALLS_WITH_OFFER,CALLS_WITH_ACCEPT,CALLS_OFFER_APPLIED,TRANSFERS
0,201706,2017-06-01,12465,34,25710,5,31,22,19,2
1,201706,2017-06-01,12466,35,25039,4,34,29,26,2
2,201706,2017-06-01,12467,38,24436,6,36,32,28,3
3,201706,2017-06-01,12468,38,24923,5,37,32,25,2
4,201706,2017-06-01,12469,34,24371,4,32,25,22,2
...,...,...,...,...,...,...,...,...,...,...
1520,201708,2017-08-31,12486,28,25714,6,25,17,12,3
1521,201708,2017-08-31,12487,29,25834,7,25,17,10,3
1522,201708,2017-08-31,12488,33,25229,7,28,20,12,3
1523,201708,2017-08-31,12489,29,25006,6,26,20,12,3
1524,201708,2017-08-31,12490,29,24662,6,27,19,10,3

In [11]:
d2

,AGENT_KEY,EFF_DT,TERM_DT,AGENT_ID,AGENT_NAME,TEAM_LEAD_ID,TEAM_LEAD_NAME,CALL_CENTER
0,12465,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
1,12466,2017-05-01,2020-12-31,201700122,"Binning, Bart",201700011,"Winnerson, Aceona",Williamburg
2,12467,2017-05-01,2020-12-31,201700123,"Centerville, Cece",201700011,"Winnerson, Aceona",Williamburg
3,12468,2017-05-01,2020-12-31,201700124,"Davenport, Davina",201700011,"Winnerson, Aceona",Williamburg
4,12469,2017-05-01,2020-12-31,201700125,"Edgerton, Ethan",201700011,"Winnerson, Aceona",Williamburg
5,12470,2017-05-01,2020-12-31,201700126,"Filipsano, Fiona",201700011,"Winnerson, Aceona",Williamburg
6,12471,2017-05-01,2020-12-31,201700127,"Gee, Garry",201700011,"Winnerson, Aceona",Williamburg
7,12472,2017-05-01,2020-12-31,201700128,"Harrison, Harold",201700011,"Winnerson, Aceona",Williamburg
8,12473,2017-05-01,2020-12-31,201700129,"Ivanski, Igor",201700012,"Jimson, Bill",Williamburg
9,12474,2017-05-01,2020-12-31,201700130,"Jeffries, Johnna",201700012,"Jimson, Bill",Williamburg
10,12475,2017-05-01,2020-12-31,201700131,"Kippers, Kat",201700012,"Jimson, Bill",Williamburg
11,12476,2017-05-01,2020-12-31,201700132,"Lipp, Larry",201700012,"Jimson, Bill",Williamburg
12,12477,2017-05-01,2020-12-31,201700133,"Myers, Matt",201700012,"Jimson, Bill",Williamburg
13,12478,2017-05-01,2020-12-31,201700134,"Nichols, Nana",201700012,"Jimson, Bill",Williamburg
14,12479,2017-05-01,2020-12-31,201700135,"Ohlson, Octavius",201700012,"Jimson, Bill",Williamburg
15,12480,2017-05-01,2017-07-15,201700136,"Pulaski, Peter",201700012,"Jimson, Bill",Williamburg
16,12481,2017-07-15,2020-12-31,201700137,"Rank, Richelle",201700012,"Jimson, Bill",Williamburg
17,12482,2017-05-01,2020-12-31,201700138,"Sanders, Sammi",201700013,"Oferten, Quinton",Williamburg
18,12483,2017-05-01,2020-12-31,201700139,"Thomas, Ted",201700013,"Oferten, Quinton",Williamburg
19,12484,2017-05-01,2020-12-31,201700140,"Uvaldon, Ursala",201700013,"Oferten, Quinton",Williamburg
20,12485,2017-05-01,2020-12-31,201700141,"Vindictive, Vinny",201700013,"Oferten, Quinton",Williamburg
21,12486,2017-05-01,2020-12-31,201700142,"Williamson, Wilma",201700013,"Oferten, Quinton",Williamburg
22,12487,2017-05-01,2020-12-31,201700143,"Younger, Yeti",201700013,"Oferten, Quinton",Williamburg
23,12488,2017-05-01,2020-12-31,201700144,"Zwilowski, Zane",201700013,"Oferten, Quinton",Williamburg
24,12489,2017-05-01,2020-12-31,201700145,"Abacus, Aaron",201700013,"Oferten, Quinton",Williamburg
25,12490,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg

In [13]:
data = pd.merge(d1, d2, on='AGENT_KEY')
data

,YR_MO,CALL_DATE,AGENT_KEY,CALLS,HANDLE_TIME,CALL_REGEN,CALLS_WITH_OFFER,CALLS_WITH_ACCEPT,CALLS_OFFER_APPLIED,TRANSFERS,EFF_DT,TERM_DT,AGENT_ID,AGENT_NAME,TEAM_LEAD_ID,TEAM_LEAD_NAME,CALL_CENTER
0,201706,2017-06-01,12465,34,25710,5,31,22,19,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
1,201706,2017-06-02,12465,37,24506,4,34,27,19,3,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
2,201706,2017-06-04,12465,38,25249,5,35,27,23,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
3,201706,2017-06-05,12465,32,24019,3,29,23,17,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
4,201706,2017-06-06,12465,36,24810,6,33,25,20,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1520,201708,2017-08-16,12490,32,25345,7,30,20,14,4,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg
1521,201708,2017-08-28,12490,28,24324,8,25,16,10,3,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg
1522,201708,2017-08-29,12490,31,25197,8,27,18,10,3,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg
1523,201708,2017-08-30,12490,33,24633,10,30,19,10,4,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg
1524,201708,2017-08-31,12490,29,24662,6,27,19,10,3,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg

In [15]:
data = pd.merge(data, d3, on='YR_MO')
data

,YR_MO,CALL_DATE,AGENT_KEY,CALLS,HANDLE_TIME,CALL_REGEN,CALLS_WITH_OFFER,CALLS_WITH_ACCEPT,CALLS_OFFER_APPLIED,TRANSFERS,EFF_DT,TERM_DT,AGENT_ID,AGENT_NAME,TEAM_LEAD_ID,TEAM_LEAD_NAME,CALL_CENTER,METRIC,TARGET
0,201706,2017-06-01,12465,34,25710,5,31,22,19,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg,AHT,780.000
1,201706,2017-06-01,12465,34,25710,5,31,22,19,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg,CALL_REGEN,0.167
2,201706,2017-06-01,12465,34,25710,5,31,22,19,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg,TRANSFERS,0.082
3,201706,2017-06-01,12465,34,25710,5,31,22,19,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg,APPLIED_PER_CALL,0.505
4,201706,2017-06-01,12465,34,25710,5,31,22,19,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg,BREAKAGE,0.201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7620,201708,2017-08-31,12490,29,24662,6,27,19,10,3,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg,AHT,775.000
7621,201708,2017-08-31,12490,29,24662,6,27,19,10,3,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg,CALL_REGEN,0.159
7622,201708,2017-08-31,12490,29,24662,6,27,19,10,3,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg,TRANSFERS,0.075
7623,201708,2017-08-31,12490,29,24662,6,27,19,10,3,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg,APPLIED_PER_CALL,0.511
7624,201708,2017-08-31,12490,29,24662,6,27,19,10,3,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg,BREAKAGE,0.198

In [17]:
data.to_csv(r"C:\Users\Shinemet\Ironhack\Labs\Module2\Lab_18_Dasboards_in_Excel_Google_Sheets\data.csv")